/*Overriden Variables*/

/*Custom Variables*/


input:required:invalid, input:focus:invalid {
      /*background-image: url(/images/invalid.png);*/
      border-color: red;
      background-position: right top;
      background-repeat: no-repeat;
}
input:required:valid {
    /*background-image: url(/images/valid.png);*/
    border-color: green;
    background-position: right top;
    background-repeat: no-repeat;
}

