/*Overriden Variables*/

/*Custom Variables*/


input:required:invalid, input:focus:invalid {
      /*background-image: url(/images/invalid.png);*/
      border-bottom-color: indianred;
      background-position: right top;
      background-repeat: no-repeat;
}
input:required:valid {
    /*background-image: url(/images/valid.png);*/
    border-bottom-color: green;
    background-position: right top;
    background-repeat: no-repeat;
}

td {
    /*max-height: 350px;*/
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

